<?xml version="1.0" ?>
<robot name="pylone">
   <material name="grey">
        <color rgba=".2 .2 .2 1" />
    </material>

   <link name="pylone_link">
      <visual>
         <geometry>
            <mesh filename="/home/gepetto/ros2_ws/src/hpp_panda_tests/models/meshes/visual/pylone.stl" scale="1.0 1.0 1.0"/>
         </geometry>
         <material name="grey">
            <color rgba="0.0 0.9 0.9 1.0"/>
         </material>
      </visual>
      <collision>
         <geometry>
            <mesh filename="/home/gepetto/ros2_ws/src/hpp_panda_tests/models/meshes/collision/pylone.stl" scale="1.0 1.0 1.0"/>
         </geometry>
      </collision>
      <inertial>
         <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
         <mass value="0.1"/>
         <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
      </inertial>
   </link>


   <link name="base_box">
    <visual>
      <geometry>
        <box size="0.55 0.52 0.435"/>
      </geometry>
      <material name="blue"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.55 0.52 0.435"/>
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="5.0"/>
      <inertia ixx="0.52" ixy="0" ixz="0" iyy="0.52" iyz="0" izz="0.52"/>
    </inertial>
  </link>


  <joint name="side_to_pylone" type="fixed">
     <parent link="pylone_link"/>
    <child link="base_box"/>
    <origin xyz="0 0.015 -0.52" rpy="0 0 0.02"/>
  </joint>
</robot>
