<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="obstacles">
    <xacro:include filename="$(find franka_description)/robots/common/utils.xacro" />
    <material name="red">
        <color rgba=".9 .1 .1 1" />
    </material>
    <link name="big_box_link">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <mass value="0.6" />
            <inertia ixx="0.001" ixy="0.0" ixz="0.0"
                iyy="0.001" iyz="0.0"
                izz="0.001" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.0155" rpy="0 0 0" />
            <geometry>
                <box size="0.597 0.397 0.001" />
            </geometry>
            <material name="red" />
        </visual>
        <collision>
            <origin xyz="0 0 0.0155" rpy="0 0 0" />
            <geometry>
                <box size="0.597 0.397 0.001" />
            </geometry>
        </collision>
        <visual>
            <origin xyz="0 0.1835 0.12" />
            <geometry>
                <box size="0.567 0.001 0.22" />
            </geometry>
            <material name="red" />
        </visual>
        <collision>
            <origin xyz="0 0.1835 0.12" />
            <geometry>
                <box size="0.567 0.001 0.22" />
            </geometry>
        </collision>
        <visual>
            <origin xyz="0 -0.1835 0.12" />
            <geometry>
                <box size="0.567 0.001 0.22" />
            </geometry>
            <material name="red" />
        </visual>
        <collision>
            <origin xyz="0 -0.1835 0.12" />
            <geometry>
                <box size="0.567 0.001 0.22" />
            </geometry>
        </collision>
        <visual>
            <origin xyz="0.2835 0 0.12" />
            <geometry>
                <box size="0.001 0.367 0.22" />
            </geometry>
            <material name="red" />
        </visual>
        <collision>
            <origin xyz="0.2835 0 0.12" />
            <geometry>
                <box size="0.001 0.367 0.22" />
            </geometry>
        </collision>
        <visual>
            <origin xyz="-0.2835 0 0.12" />
            <geometry>
                <box size="0.001 0.367 0.22" />
            </geometry>
            <material name="red" />
        </visual>
        <collision>
            <origin xyz="-0.2835 0 0.12" />
            <geometry>
                <box size="0.001 0.367 0.22" />
            </geometry>
        </collision>
    </link>

    <joint name="box_to_obstacle" type="fixed">
        <parent link="big_box_link" />
        <child link="obstacle1" />
        <origin xyz="0.1 0 0.5" rpy="0 0 0 " />
    </joint>
    <link name="obstacle1">
        <xacro:collision_capsule xyz="0.535 0 0.43" direction="x" radius="0.1"
            length="0.3" />
    </link>
</robot>
