<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="pylone">
   <xacro:include filename="$(find franka_description)/robots/common/utils.xacro" />

   <xacro:macro name="pylone" params="with_sc:=false">

      <material name="grey">
         <color rgba=".5 .5 .5 1" />
      </material>

      <link name="pylone_link">
         <visual>
            <geometry>
               <mesh filename="package://agimus_demo_08_polishing/urdf/meshes/visual/pylone.stl"
                  scale="1.0 1.0 1.0" />
            </geometry>
            <material name="grey">
               <color rgba="0.0 0.9 0.9 1.0" />
            </material>
         </visual>
         <collision>
            <geometry>
               <mesh filename="package://agimus_demo_08_polishing/urdf/meshes/collision/pylone.stl"
                  scale="1.0 1.0 1.0" />
            </geometry>
         </collision>
         <inertial>
            <origin rpy="0 0 0" xyz="0.0 0.0 0.0" />
            <mass value="0.1" />
            <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
         </inertial>
      </link>
      <xacro:if value="${with_sc}">
         <link name="pylone_sc_link">
            <!-- Side edges representing the hole -->
            <xacro:collision_capsule xyz="0.03 0.1 -0.045" direction="z" radius="0.004" length="0.6" />
            <xacro:collision_capsule xyz="0.03 -0.1 -0.045" direction="z" radius="0.004" length="0.6" />

            <!-- Top and bottom bard representing the hole -->
            <xacro:collision_capsule xyz="0.03 0.0 ${0.15 - 0.045}" direction="y" radius="0.004" length="0.4" />
            <xacro:collision_capsule xyz="0.03 0.0 ${-0.15 - 0.045}" direction="y" radius="0.004" length="0.4" />

            <!-- Edges of the pytlone -->
            <xacro:collision_capsule xyz="0.0 0.205 0.0" direction="z" radius="0.004" length="1.3" />
            <xacro:collision_capsule xyz="0.0 -0.205 0.0" direction="z" radius="0.004" length="1.3" />

            <collision>
               <origin rpy="0 0 0" xyz="0.25 0.2025 0.0" />
               <geometry>
                  <box size="0.5 0.005 0.55"/>
               </geometry>
            </collision>
         </link>
         <joint name="pylone_sc_link_joint" type="fixed">
            <origin rpy="0.0 0.0873 0.0" xyz="-0.171 0.0 0.03" />
            <parent link="pylone_link" />
            <child link="pylone_sc_link" />
         </joint>
      </xacro:if>
   </xacro:macro>
</robot>
