<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="table" params="prefix:=''">
    <link name="${prefix}table_link">
      <visual>
        <origin rpy="0 0 0" xyz="0.6 0 0.585"/>
        <geometry>
          <mesh filename="package://agimus_demo_10_tiago_pro_bar_manip/meshes/table.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="Blue"/>
      </visual>
      <collision>
        <origin rpy="0 0 0" xyz="0.6 0 0.585"/>
        <geometry>
          <mesh filename="package://agimus_demo_10_tiago_pro_bar_manip/meshes/table.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link>
  </xacro:macro>

</robot>
