<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="ground" params="prefix:=''">
    <link name="${prefix}ground_link">
      <visual>
        <geometry>
          <box size="10.0 10.0 0.01"/>
        </geometry>
        <material name="floor">
          <color rgba="0.50 0.55 0.60 1"/>
        </material>
      </visual>
      <collision>
        <geometry>
          <box size="10.0 10.0 0.01"/>
        </geometry>
      </collision>
    </link>
  </xacro:macro>
</robot>
